{% extends "layout.html" %}
{% block body %}
<p style="text-align:center"><span style="color:#e74c3c"><span style="font-size:22px"><strong>HAKKIMIZDA</strong></span></span></p>

<p>AREFİ (TANIM YAPILIYOR)</p>

<p>&nbsp;</p>

<p><img alt="" src="https://ckeditor.com/apps/ckfinder/userfiles/files/Screenshot%202023-11-15%20at%2014_09_52(1).png" style="float:left; height:500px; width:401px" /></p>

<p>&nbsp;</p>

<p>EFE AYDIN ASFNOASFKSAMFSA</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p style="margin-left:360px; text-align:right"><img alt="" src="https://ckeditor.com/apps/ckfinder/userfiles/files/Screenshot%202023-11-15%20at%2014_09_52(2).png" style="float:right; height:500px; width:401px" />ASDDSASAD</p>

<p style="margin-left:360px; text-align:right">&nbsp;</p>

<p style="margin-left:360px; text-align:right">ASDSADSAD</p>

<p style="margin-left:360px; text-align:right">ASASDAS</p>

<p style="margin-left:360px; text-align:right">&nbsp;</p>

<p style="margin-left:360px; text-align:right">ADS</p>

<p style="margin-left:360px; text-align:right">SADAS</p>

<p style="margin-left:360px; text-align:right">&nbsp;</p>

<p style="margin-left:360px; text-align:right">&nbsp;</p>

{% endblock %}